/**************************************************************selector***************************************************************/
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 200;
}
h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-family: Montserrat;
  font-weight: bold;
}
p {
  color: white;
}

/**************************************************************ID********************************************************************/

#title {
  background: linear-gradient(rgba(21, 21, 37, 0.68), rgba(21, 21, 37, 0.68)) repeat scroll 0% 0% / auto padding-box border-box, rgba(0, 0, 0, 0) url('https://images.unsplash.com/photo-1617839625591-e5a789593135?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1MTUzNXwwfDF8c2VhcmNofDF8fFF1YW50dW0lMjBjb21wdXRpbmd8ZW58MHx8fHwxNzE3NzY0NzU5fDA&ixlib=rb-4.0.3&q=80&w=1080') no-repeat scroll 50% 50% / cover padding-box border-box;
  flex-direction: column;
  padding: 7% 25%;
  word-break: break-word;
  display: flex;
  overflow: hidden;
  text-align: center; /* Center the title */
  min-height: 40rem;
}

#title h1 {
  color: white;
  white-space: nowrap; /* Prevent the text from wrapping */
}

#features {
  padding: 7% 15%;
  background-color: rgb(21, 21, 37);
  z-index: 1;
  position: relative;
}
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
#pricing {
  padding: 100px;
  text-align: center;
}
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}
#footer {
  background-color: #fff;
  padding: 7% 15%;
  text-align: center;
}
#Navbar {
  background-color: rgb(21, 21, 37);
  padding-bottom: 0px;
}
#Logo1 {
  width: 5.5rem;
  height: auto;
  margin-left: 30%;
}
#Headerd {
  color: white;
}
#Blue_Card {
  margin-top: 2rem; /* Adjust the top margin for spacing */
}

/**************************************************************Class******************************************************************/

.container-fluid {
  padding: 3% 15% %;
}
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar {
  padding-bottom: .5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.2rem;
}
.Download-botton {
  margin: 5% 3% 5% 0;
}
.image {
  width: 17%;
  transform: rotate(25deg);
  position: absolute;
  right: 27%;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 20px;
}
.icon:hover {
  color: #ff4c68;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.press-logo {
  width: 15%;
  margin: 50px 20px 50px;
}
.carousel-item {
  padding: 7% 15%;
  font-size: 1.3rem;
  font-weight: 500;
  font-style: italic;
}
.carousel-indicators button {
  background-color: #fff;
}
.header {
  font-size: 2rem;
}
.card-body {
  padding: 7%;
}
.card-body .title {
  color: black;
  font-size: 3rem;
}
.card-text {
  font-size: .8rem;
  text-align: center;
}
.card-body .card-text1 {
  font-size: 1.3rem;
}
.footer {
  background-color: white;
}
.soical-icon {
  padding: 5%;
}
.card.bg-primary {
  background-color: rgba(0, 123, 255, 0.7) !important ;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Set a fixed height for the cards */
  text-align: center;
}

/************************ media quary *******************/
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .image {
    position: static;
    transform: rotate(0);
    width: 30%;
  }  


  #title h1 {
    white-space: normal; /* Allow text to wrap */
  }
}

